@import "../../vars.css";

.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;

}
.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}
.title{
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 33px;
    font-family:var(--font-roboto);
    background: linear-gradient(90deg,rgba(255,255,255,1) 70%, rgba(255,255,255,0)120%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;


}
.animated{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
    font-family: var((--font-roboto));
    margin-bottom:52px ;
    word-spacing: 10px;
}
.animated span{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #333;
    animation: blink 0.7s step-end infinite;
}
 .animated span::before{
    content: "frontend Developer";
    color: var(--color-text);
    animation: words 10s steps(10) infinite;

}
.animated span {
    position:absolute;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #333;
    animation: typing 2s steps(20) infinite alternate, blink 0.7s ,step-end infinite;

} 
@keyframes cursor{
    50%{
        border-left:2px solid white ;
        

    }
}
@keyframes words {
    0%, 20% {
      content: "Frontend Developer";
    }
    21%, 40% {
      content: "Web Developer";
    }
    41%, 60% {
      content: "Backend Developer";
    }
    61%, 80% {
      content: "Online Gamer";
    }
    81%,100%{
        content: "Web Designer";
    }
  }

@keyframes typing {
    0%, 100%{
      width: 0%;
    }
    30% , 70% {
      width: 63%;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
  /* Apply to an element */

  
.contactBtn{
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 100px;
    font-size: 20px;
    font-weight: 600;
    padding:17px 26px ;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
}
.heroImg{
    width: 50%;
    z-index: 1;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    0%{
        transform: translate(0, 0px);

    }
    50%{
        transform: translate(0 , 10px);

    }
    100%{
        transform: (0,-0px);
    }
}
.topBlur{
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-width: 350px;
    top: -128px;
    left: -10vw;
    border-radius: 764px;
    background: rgba(25, 55,109 , 0.7);
    filter: blur(100px);
    z-index: 0;

}
.bottomBlur{
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    min-width: 250px;
    top: 246px;
    right: -25vw;
    border-radius: 764px;
    background: rgba(25, 55,109 , 0.7);
    filter: blur(100px);
    z-index: 0;
}

@media screen and (max-width:830px){
    .container{
        flex-direction: column-reverse;
    }
    .content{
        align-items: center;
    }
}